/*公共*/
body{background-color: #000;}
/*头部图片*/
.co-header{width: 100%;height: 900px;background: url(../images/advertising/banner1.jpg) no-repeat center;}
/*广告内容*/
.adver{width:980px;height: auto;margin-left: auto;margin-right: auto;padding-left: 220px;padding-top: 60px;}
.adver h2{font-weight: normal;font-weight: normal;font-size: 55px;color: #fff;font-family: "Arial";margin-bottom: 15px;}
.adver h3{font-size: 46px;color: #fff;margin-bottom: 100px;}
.adver ul{height: auto;}
.adver ul li{height: 300px;margin-bottom: 50px;overflow: hidden;}
.adver ul li .ad-left{width: 300px;height: 300px;float: left;}
.adver ul li .ad-left > a{display: block;width: 100%;height: 100%;}
.adver ul li .ad-left > a > img{display: block;margin-left:auto;margin-right: auto;}
.adver ul li .ad-right{width: 630px;height: 300px;float: left;padding-left: 25px;padding-right: 25px;}
.adver ul li .ad-right p{font-size: 16px;color: #ccc;letter-spacing: 3px;line-height: 34px;}
.adver ul li .ad-right h4{font-size: 36px;color: #fff;margin-bottom: 35px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}