/*公共*/
body{background-color: #000;}
/*头部图片*/
.co-header{width: 100%;height: 900px;background: url(../images/blogger/banner1.jpg) no-repeat center;}
/*案例*/
.blogger{width: 1200px;height: 2540px;padding-top: 60px;margin-left: auto;margin-right: auto;overflow: hidden;}
/*详情*/
.blogger .details{padding-left: 220px;margin-bottom: 140px;}
.blogger .details h1{font-size: 74px;color: #fff;letter-spacing: 5px;margin-bottom: 30px;}
.blogger .details h4{font-size: 36px;color: #fff;letter-spacing: 3px;margin-bottom: 40px;}
.blogger .details p{font-size: 16px;color: #fff;letter-spacing: 1px;line-height: 30px;}
/*拍客影视*/
.blogger .movie{height: auto;}
.blogger .movie .movie-left{width: 380px;height: auto;float: left;margin-bottom: 107px;margin-left: 220px;}
.blogger .movie .movie-left li{height: auto;}
.bl-bottom1{margin-bottom: 110px;}
.bl-bottom2{margin-bottom: 105px;}
.bl-bottom3{margin-bottom: 200px;}
.bl-bottom4{margin-bottom: 70px;}
.bl-bottom5{margin-bottom: 180px;}
.bl-bottom6{margin-bottom: 20px;}
.bl-bottom7{margin-bottom: 33px;}
.blogger .movie .movie-left li > a.more{float: right;width: 120px;height: 40px;background-color: #000;font-size: 16px;color: #fff;text-align: center;line-height: 40px;margin-right: 30px;}
.blogger .movie .movie-left li > a.more:hover{box-shadow: 0 0 10px #474747;-webkit-box-shadow: 0 0 10px #474747;-moz-box-shadow: 0 0 10px #474747;}
.blogger .movie .movie-left li > a img{display: block;margin-left: auto;margin-right: auto;}
.blogger .movie .movie-right{width: 600px;height: auto;float: left;}
.blogger .movie .movie-right p{padding-right: 40px;font-size: 17px;color: #fff;line-height: 30px;}
.blogger .movie .movie-right h3{font-size: 36px;color: #fff;letter-spacing: 4px;margin-top: -10px;}