/*公共*/
body{background-color: #000;}
/*头部图片*/
.co-header{width: 100%;height: 900px;background: url(../images/blogger/banner1.jpg) no-repeat center;}
/*案例*/
.blogger{width: 1200px;height: 2540px;padding-top: 60px;margin-left: auto;margin-right: auto;overflow: hidden;}
/*详情*/
.blogger .details{margin-bottom: 140px;margin-left:220px;}
.blogger .details h1{font-size: 74px;color: #fff;letter-spacing: 5px;margin-bottom: 20px;}
.blogger .details h4{font-size: 36px;color: #fff;letter-spacing: 3px;margin-bottom: 40px;}
.blogger .details p.ca-p1{font-size: 18px;color: #fff;letter-spacing: 1px;line-height: 30px;width: 550px;margin-bottom: 10px;}
.blogger .details p.ca-p2{font-size: 24px;color: #fff;margin-bottom: 25px;letter-spacing: 2px;}
.blogger .details p.ca-p3{margin-bottom: 75px;}
.blogger .details p.ca-p3 > a{display: block;font-size: 36px;color: #fff;font-weight: bold;letter-spacing: 2px;}
.blogger .details p.ca-p4{font-size: 24px;color: #fff;letter-spacing: 1px;}
.bl-bottom1{margin-bottom: 50px;}
.bl-bottom2{margin-bottom: 60px;}
.bl-bottom3{margin-bottom: 60px;}
.bl-bottom4{margin-bottom: 15px;}
.bl-bottom5{margin-bottom: 5px;}
/*拍客影视开始*/
.movie{margin-bottom: 80px;}
.movie li{height: 230px;overflow: hidden;}
.movie li .movie-left{float: left;width: 380px;height: 210px;padding-top:20px;margin-left: 220px;}
.movie li .movie-left img{display: block;margin-left: auto;margin-right: auto;}
.movie li .movie-right{float: left;width: 550px;height: 210px;padding-left: 50px;padding-top: 20px;}
.movie li .movie-right .mo-p1{font-size: 35px;color: #fff;font-weight: bold;margin-top: -5px;}
.movie li .movie-right .mo-p1 > a, .movie li .movie-right .mo-p2 > a, .movie li .movie-right .mo-p3 > a{color: #fff;}
.movie li .movie-right .mo-p2{font-size: 20px;color: #fff;}
.movie li .movie-right .mo-p3{font-size: 24px;color: #fff;}
/*页码*/
.page{text-align: center;height: 20px;line-height: 20px;margin-bottom: 70px;}
.page a{display: inline-block;width: 26px;height: 26px;font-size: 14px;color: #fff;text-align: center;line-height: 26px;}
.page span{font-size: 14px;color: #fff;}
.pa-right{margin-right: 10px;}
.page a:hover{background-color: #000;box-shadow: 0 0 5px #ccc;-moz-box-shadow:0 0 0 #ccc;-webkit-box-shadow:0 0 0 #ccc;box-shadow:0 0 5px #ccc;}