/*公共*/
body{background-color: #000;}
/*头部图片*/
.co-header{width: 100%;height: 900px;background: url(../images/blogger/banner1.jpg) no-repeat center;}
/*案例*/
.blogger{width: 1200px;height: auto;padding-top: 60px;margin-left: auto;margin-right: auto;overflow: hidden;}
/*详情*/
.blogger .details{padding-left: 220px;margin-bottom: 70px;}
.blogger .details h1{font-size: 74px;color: #fff;letter-spacing: 5px;margin-bottom: 20px;}
.blogger .details h4{font-size: 36px;color: #fff;letter-spacing: 3px;margin-bottom: 40px;}
.blogger .details p.ca-p1{font-size: 18px;color: #fff;letter-spacing: 1px;line-height: 30px;width: 550px;margin-bottom: 10px;}
.blogger .details p.ca-p2{font-size: 24px;color: #fff;margin-bottom: 25px;letter-spacing: 2px;}
.blogger .details p.ca-p3{margin-bottom: 75px;}
.blogger .details p.ca-p3 > a{display: block;font-size: 36px;color: #fff;font-weight: bold;letter-spacing: 2px;}
.blogger .details p.ca-p4{font-size: 24px;color: #fff;letter-spacing: 1px;}
.bl-bottom1{margin-bottom: 120px;}
.bl-bottom2{margin-bottom: 70px;}
.bl-bottom3{margin-bottom: 60px;}
.bl-bottom4{margin-bottom: 15px;}
.bl-bottom5{margin-bottom: 5px;}
.bl-bottom6{margin-bottom: 20px;}
.bl-bottom7{margin-bottom: 35px;}
.bl-bottom8{margin-bottom: 25px;}
/*拍客影视*/
.blogger .movie{height: auto;}
.blogger .movie .movie-left{width: 380px;height: auto;float: left;margin-bottom: 140px;margin-left: 220px;}
.blogger .movie .movie-left li{height: auto;overflow: hidden;}
.blogger .movie .movie-left li > a.more{float: right;width: 120px;height: 40px;background-color: #000;font-size: 16px;color: #fff;text-align: center;line-height: 40px;margin-right: 100px;}
.blogger .movie .movie-left li > a img{display: block;margin-left: auto;margin-right: auto;}
.blogger .movie .movie-right{width: 600px;height: auto;float: left;font-size: 16px;margin-bottom: 140px;}
.blogger .movie .movie-right h3{font-size: 26px;color: #fff;letter-spacing: 3px;}
.blogger .movie .movie-right h3 > a{color: #fff;}
.blogger .movie .movie-right p{font-size: 0.875em;color: #fff;letter-spacing: 1px;}
.blogger .movie .movie-right p > a{color: #fff;}
