/*公共*/
body{background-color: #000;}
/*头部图片*/
.co-header{width: 100%;height: 720px;background: url(../images/connect/banner1.jpg) no-repeat center;}
/*案例*/
.connect{width: 1200px;height: 2540px;padding-top: 60px;margin-left: auto;margin-right: auto;overflow: hidden;}
.connect h1, .connect h3{text-align: left;}
.connect h1{font-size: 80px;color: #fff;letter-spacing: 15px;}
.connect h3{font-size: 46px;color: #403657;margin-bottom: 160px;letter-spacing: 10px;margin-top: -10px;}
.co-bottom1{margin-bottom: 40px;}
/*类别*/
.category{height: 330px;overflow: hidden;}
.category ul{float: left;}
.category ul li{width: 90px;height: 110px;float: left;}
.category ul li h5{font-size: 18px;color: #fff;font-weight: normal;margin-bottom: 15px;}
.category ul li .gor-div1{width: 89px;height: 65px;overflow-y:scroll;border-right: 1px solid #403657;position: relative;z-index: 300;}
.category ul li .gor-div1 p{margin-bottom: 5px;}
.category ul li .gor-div1 p > a{font-size: 14px;color: #999;}
.ca-right1{margin-right: 110px;}
.category .gor-right{width: 450px;height: 45px;float: right;overflow: hidden;}
.category .gor-right .gor-search{float: left;width:232px;height: 40px;border-radius: 20px;background: #fff;margin-right: 40px;position: relative;z-index: 200;}
.category .gor-right p{float: left;width: 141px;height: 32px;border:1px solid #999;border-radius: 17px;padding-left: 17px;line-height: 32px;}
.category .gor-right p > a{font-size: 16px;color: #ccc;}
.category .gor-right p > a:hover{color: #403657;}
.category .gor-right p > a:hover i{border-top-color:#403657;}
.category .gor-right p > a i{display: inline-block;border-top: 3px solid #ccc;border-left: 3px solid transparent;border-right: 3px solid transparent;vertical-align: middle;margin-left: 8px;}
.category .gor-right p > span{color: #999;font-size: 20px;padding-left: 3px;padding-right: 3px;transition: 0.5s ease;}
.category .gor-right .gor-search input{display: inline-block;width: 224px;height: 40px;border: none;border-radius: 20px;font-size: 16px;color: #999;padding-left: 8px;line-height: 40px;}
.category .gor-right .gor-search input::-webkit-input-placeholder{color:#ccc;}
.category .gor-right .gor-search input:-moz-placeholder{color:#ccc;}
.category .gor-right .gor-search input:-ms-input-placeholder{color:#ccc;}
.category .gor-right .gor-search span{display: inline-block;position: absolute;z-index: 205;width: 29px;height: 30px;background: url(../images/case/search1.png) no-repeat center;right: 17px;top: 5px;}
/*案例*/
.ocase{overflow: hidden;margin-bottom: 130px;height: 900px;}
.ocase li{width: 400px;height: 225px;float: left;position: relative;z-index: 300;cursor: pointer;overflow: hidden;}
/*案例蒙版*/
.ocase li img{transition: 0.5s ease;}
.ocase li:hover img{transform: scale(1.2);}
.ocase li .case-bg{position: absolute;z-index: 310;width: 100%;height: 100%;background-color: rgba(0,0,0,0.6);background-color:#000000;filter:alpha(opacity=60);zoom:310;-moz-opacity:0.6;-khtml-opacity: 0.6;opacity: 0.6;left: 0;top: 0;display: none;}
.ocase li .case-content{position: absolute;z-index: 330;width: 360px;height: 195px;left:0;top: 0;padding:30px 20px 0;display: none;}
.ocase li:hover .case-bg{display: block;}
.ocase li:hover .case-content{display: block;}
.ocase li .case-content p{font-size: 18px;color: #fff;overflow: hidden;}
.ocase li .case-content p .icon1{float: left;width: 24px;height: 24px;background: url(../images/case/icon3.png) no-repeat center;margin-right: 37px;}
.ocase li .case-content p .icon2{float: left;width: 24px;height: 24px;background: url(../images/case/icon2.png) no-repeat center;}
.ocase li .case-content p .icon3{float: right;font-size: 18px;color: #fff;}
.oc-bottom1{margin-bottom: 20px;}
.oc-bottom2{margin-bottom: 40px;}
/*页码*/
.page{text-align: center;height: 20px;line-height: 20px;}
.page a{display: inline-block;width: 26px;height: 26px;font-size: 14px;color: #fff;text-align: center;line-height: 26px;}
.page span{font-size: 14px;color: #fff;}
.pa-right{margin-right: 10px;}
.page a:hover{background-color: #000;box-shadow: 0 0 5px #ccc;-moz-box-shadow:0 0 0 #ccc;-webkit-box-shadow:0 0 0 #ccc;box-shadow:0 0 5px #ccc;}