/*通用设置*/
*{margin:0;padding:0;}
body{font-family:"Microsoft YaHei", "微软雅黑","SourceHanSansCN Bold";}
a{text-decoration: none;}
li{list-style: none;}
img{border: none;}
input, textarea{outline:none;}
.f-text-high{background-color: #1f032a;}
.f-text-high{background-color: #0c0611;}
/*底部信息*/
.footer{width: 100%;height:auto;background-color: #000;}
.fo-top{padding-top: 23px;}
.footer .fo-content{width: 1200px;height: auto;margin-left: auto;margin-right: auto;padding-top: 60px;overflow: hidden;}
.footer .fo-content .form{margin-bottom: 100px;overflow: hidden;height: 200px;}
.footer .fo-content .form .form-left{float: left;width: 600px;height: auto;}
.footer .fo-content .form .form-left p{padding-right: 40px;margin-bottom: 20px;}
.footer .fo-content .form .form-left p input{display: inline-block;width: 95%;border:none;height: 34px;background-color: #0c0611;line-height: 34px;font-size: 16px;color: #666;padding-left: 5%;}
.footer .fo-content .form .form-right{float: left;width: 600px;height: auto;}
.footer .fo-content .form .form-left p input::-webkit-input-placeholder, .footer .fo-content .form .form-right textarea::-webkit-input-placeholder{color:#666;}
.footer .fo-content .form .form-left p input:-moz-placeholder, .footer .fo-content .form .form-right textarea:-moz-placeholder{color:#666;}
.footer .fo-content .form .form-left p input:-ms-input-placeholder, .footer .fo-content .form .form-right textarea:-ms-input-placeholder{color:#666;}
.footer .fo-content .form .form-right{width: 500px;float: left;height: 195px;margin-left: 100px;}
.footer .fo-content .form .form-right textarea{display: inline-block;width: 477px;height: 136px;border:none;padding-left: 23px;font-size: 16px;color: #666;background-color: #0c0611;font-family:"Microsoft YaHei", "微软雅黑";padding-top: 6px;margin-bottom: 20px;overflow: auto;}
.footer .fo-content .form .form-right p{text-align: right;}
.footer .fo-content .form .form-right p .sub{display: inline-block;width: 80px;height: 32px;background-color: #330044;font-size: 16px;color: #f3e2ff;line-height: 32px;text-align: center;border:none;cursor: pointer;}
/*联系我们*/
.footer .fo-content .coo-content{height: 145px;margin-bottom: 60px;}
.footer .fo-content .coo-content .fo-us{float: left;width: 780px;height: 205px;overflow: hidden;}
.footer .fo-content .coo-content .fo-us p.fo-p1{font-size: 20px;color: #ccc;letter-spacing: 2px;margin-bottom: 28px;}
.footer .fo-content .coo-content .fo-us .fo-div1{width: 350px;height: 140px;float: left;position: relative;z-index: 50;}
.fo-right1{margin-right: 70px;}
.footer .fo-content .coo-content .fo-us .fo-div1 b{display: inline-block;width: 350px;height: 1px;background: url(../images/common/common1.jpg) no-repeat center;left: 0;top: 0;position: absolute;z-index: 60;}
.footer .fo-content .coo-content .fo-us .fo-div1 .fo-p2{line-height: 24px;}
.fo-bottom1{margin-bottom: 14px;}
.footer .fo-content .coo-content .fo-us .fo-div1 .fo-p2 i{display: inline-block;width: 24px;height: 24px;vertical-align: middle;margin-right: 14px;}
.footer .fo-content .coo-content .fo-us .fo-div1 .fo-p2 .icon1{background: url(../images/common/icon1.png) no-repeat center;}
.footer .fo-content .coo-content .fo-us .fo-div1 .fo-p2 .icon2{background: url(../images/common/icon2.png) no-repeat center;}
.footer .fo-content .coo-content .fo-us .fo-div1 .fo-p2 .icon3{background: url(../images/common/icon3.png) no-repeat center;}
.footer .fo-content .coo-content .fo-us .fo-div1 .fo-p2 .icon4{background: url(../images/common/icon4.png) no-repeat center;}
.footer .fo-content .coo-content .fo-us .fo-div1 .fo-p2 span{font-size: 15px;color: #999;}
.footer .fo-content .coo-content .focus{width: 120px;height: 195px;float: right;margin-bottom: 57px;}
.footer .fo-content .coo-content .focus > p{font-size: 20px;color: #ccc;text-align: center;margin-bottom: 42px;letter-spacing: 2px;}
.foot{width: 100%;height: 50px;line-height: 50px;color: #999;border-top: 1px solid #330066;font-size: 14px;text-align: center;background-color: #000;}
/*返回顶部*/
#topcontrol{width: 32px;height: 32px;background-color: #000;border-radius: 16px;-moz-border-radius: 16px;-webkit-border-radius: 16px;}
#topcontrol:hover{-moz-box-shadow: 0px 0px 10px #494949;-webkit-box-shadow: 0px 0px 10px #494949;box-shadow: 0px 0px 10px #494949;}
/*图片晃动*/
.oshake{position:absolute;z-index: 999;width: 100px;height: 625px;top: 20px;right: 60px;}
.oshake li{height: 130px;}
.oshake li > a{display: block;width: 100%;height: 100%;text-align: center;}
.oshake li > a > img{display: block;margin-bottom: 4px;}
.oshake li > a > span{display: inline-block;font-size: 14px;color: #fff;}
/*导航点击*/
.toggle > a{display: inline-block;width: 100%;height: 100%;}