/*公共*/
body{background-color: #000;}
.anchorBL{display: none;}
/*头部图片*/
.co-header{width: 100%;height: 720px;background: url(../images/connect/banner1.jpg) no-repeat center;}
/*联系我们*/
.connect{width: 1200px;height: 2540px;padding-top: 60px;margin-left: auto;margin-right: auto;overflow: hidden;position: relative;z-index:5;}
.connect h1, .connect h3{text-align: left;padding-left: 220px;}
.connect h1{font-size: 60px;color: #fff;letter-spacing: 4px;}
.connect h3{font-size: 46px;color: #403657;margin-bottom: 160px;letter-spacing: 8px;}
.connect .co-co1{height: 653px;padding-top: 147px;position: relative;z-index: 10;}
.connect .co-co1 .co-content{background-color: #2d1a3c;filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity: 0.8;opacity: 0.8;width: 320px;height: 420px;float: left;padding: 40px 20px 0;position: absolute;z-index: 100;left: 220px;top: 147px;}
.connect .co-co1 .co-content p{font-size: 20px;color: #fff;padding-bottom: 34px;border-bottom: 1px solid #81768a;letter-spacing: 2px;margin-bottom: 22px;}
.co-bottom1{margin-bottom: 20px;}
.co-bottom2{margin-bottom: 12px;}
.connect .co-co1 .co-content .co-div{font-size: 14px;color: #fff;overflow: hidden;}
.connect .co-co1 .co-content .co-div .co-span1{font-size: 20px;display: inline-block;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.connect .co-co1 .co-content .co-div i{font-style: normal;display: inline-block;float: left;width: 2%;text-align: center;margin-right: 2%;}
.connect .co-co1 .co-content .co-div span{display: inline-block;float: left;width: 21%;}
.connect .co-co1 .co-content .co-div a{display: inline-block;float:left;color: #fff;width: 75%;}
.connect .co-co1 .co-content .co-div a.co-a1{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
/*地图模块一*/
.connect .co-co1 .co-map{height: 640px;width:960px;position: absolute;z-index: 50;left: 220px;top: 0;}
/*地图模块二*/
.connect #dituContent{width:980px;height:640px;margin-left: 220px;}
