/*公共*/
body{background-color: #000;}
/*头部图片*/
.co-header{width: 100%;height: 900px;background: url(../images/consumer/banner1.jpg) no-repeat center;}
/*合作客户*/
.consumer{width: 980px;height: 2540px;margin-left: auto;margin-right: auto;padding-left: 220px;padding-top: 60px;}
.consumer h2{font-size: 70px;color: #fff;}
.consumer h3{font-size: 46px;color: #403657;margin-bottom: 90px;}
.consumer .con-p{font-size: 24px;color: #fff;line-height: 48px;margin-right: 120px;padding:70px 50px;margin-bottom: 180px;}
.consumer ul{overflow: hidden;width: 883px;height: auto;margin-bottom: 380px;}
.consumer ul li{float: left;width: 220px;height: 160px;}
.co-right{margin-right: 1px;}
.co-bottom{margin-bottom: 1px;}