/*公共*/
body{background-color: #000;}
/*头部图片*/
.co-header{width: 100%;height: 720px;background: url(../images/connect/banner1.jpg) no-repeat center;}
/*博觉历程*/
.course{width: 1200px;height: 2540px;padding-top: 60px;margin-left: auto;margin-right: auto;overflow: hidden;}
.course h1, .course h3{text-align: left;padding-left: 220px;}
.course h1{font-size: 90px;color: #fff;letter-spacing: 8px;}
.course h3{font-size: 46px;color: #403657;letter-spacing: 6px;}
/*详细历程*/
.none{display: none;}
.course .content{height: 130px;margin-bottom: 180px;padding:630px 100px 0;}
.course .content .year{border-top: 1px solid #999;}
.co-left1{margin-left: 115px;}
.course .content .year li{position: relative;z-index: 200;cursor: pointer;width: 152px;}
.course .content .year li.co-li1{float: left;text-align: center;height: 50px;line-height: 50px;}
.course .content .year li.co-li1 .co-span1{font-size: 16px;color: #fff;}
.course .content .year li i{display: inline-block;position: absolute;z-index: 220;width: 10px;height: 10px;background-color: #fff;border-radius: 5px;top: -5px;left: 50%;margin-left: -5px;}
.course .content .year li i.current{background-color: #522277;}
.course .content .year li .ye-content1{position: absolute;z-index: 250;width: 750px;height: 400px;background-color: #291638;left: 0;top: -460px;}
.course .content .year li .ye-content1 .ye-left{float: left;width: 450px;height: 100%;position: relative;z-index: 260;}
.course .content .year li .ye-content1 .ye-left > b{display: inline-block;border-left: 14px solid transparent;border-right: 14px solid transparent;border-top: 14px solid #291638;position: absolute;z-index: 270;left: 62px;bottom: -14px;}
.course .content .year li .ye-content1 > img{float: left;width: 300px;height: 400px;}
.course .content .year li .ye-content1 .ye-left .ye-img{display: inline-block;width: 220px;height: 100%;background:url(../images/course/logo1.png) no-repeat center 123px;float: left;}
.course .content .year li .ye-content1 .ye-left .ye-content2{float: left;height: 100%;width: 230px;}
.course .content .year li .ye-content1 .ye-left .ye-content2 > h4{text-align: left;font-size: 40px;color: #fff;padding-top: 40px;margin-bottom: 30px;width: 400px;}
.course .content .year li .ye-content1 .ye-left .ye-content2 > p{text-align: left;line-height: 28px;font-size: 16px;color: #fff;padding-right: 18px;}
.course .content .year li.co-li2:hover .ye-content1{display: block;}
.course .content .year li.co-li2:hover i{background-color: #522277;}
/*详情右模块*/
.course .content .year li .ye-content3{position: absolute;z-index: 250;width: 750px;height: 400px;background-color: #291638;right: 0;top: -460px;}
.course .content .year li .ye-content3 .ye-left{float: left;width: 450px;height: 100%;position: relative;z-index: 260;}
.course .content .year li .ye-content3 .ye-left > b{display: inline-block;border-left: 14px solid transparent;border-right: 14px solid transparent;border-top: 14px solid #291638;position: absolute;z-index: 270;left: 361px;bottom: -14px;}
.course .content .year li .ye-content3 > img{float: left;width: 300px;height: 400px;}
.course .content .year li .ye-content3 .ye-left .ye-img{display: inline-block;width: 220px;height: 100%;background:url(../images/course/logo1.png) no-repeat center 123px;float: left;}
.course .content .year li .ye-content3 .ye-left .ye-content4{float: left;height: 100%;width: 230px;}
.course .content .year li .ye-content3 .ye-left .ye-content4 > h4{text-align: right;font-size: 40px;color: #fff;padding-top: 40px;margin-bottom: 30px;width: 304px;padding-left: 16px;}
.course .content .year li .ye-content3 .ye-left .ye-content4 > h4.co-left4{text-align: left;font-size: 40px;color: #fff;padding-top: 40px;margin-bottom: 30px;width: 300px;padding-left: 18px;}
.course .content .year li .ye-content3 .ye-left .ye-content4 > p{text-align: left;line-height: 28px;font-size: 16px;color: #fff;padding-left: 18px;}
.co-left2{margin-left: -35px;}
.co-left3{margin-left: 18px;}
/*集团介绍*/
.course .introduce{margin-left: 80px;margin-right: 80px;padding::45px 50px;}
.course .introduce p{font-size: 16px;color: #ccc;line-height: 50px;}
.in-bottom1{margin-bottom: 30px;}