/*公共*/
body{background-color: #000;}
/*头部图片*/
.co-header{width: 100%;height: 900px;background: url(../images/dynamic/banner1.jpg) no-repeat center;}
/*广告内容*/
.dynamic{width:980px;height: auto;margin-left: auto;margin-right: auto;padding-left: 220px;padding-top: 60px;}
.dynamic h2{font-size: 70px;color: #fff;font-family: "Arial";margin-bottom: 15px;letter-spacing: 10px;}
.dynamic h3{font-size: 46px;color: #403657;margin-bottom: 100px;letter-spacing: 10px;margin-top: -20px;}
.dynamic .dy-content{padding-right: 70px;margin-bottom: 200px;}
.dynamic .dy-content li{height: 240px;overflow: hidden;}
.dy-bottom{margin-bottom: 100px;}
.dynamic .dy-content li .dv-left{float: left;width: 380px;height: 240px;}
.dynamic .dy-content li .dv-right{float: left;width: 500px;height: 240px;padding-left: 30px;}
.dynamic .dy-content li .dv-right h4{font-size: 34px;color: #fff;margin-bottom: 10px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.dynamic .dy-content li .dv-right p.dv-p1{font-size: 18px;color: #ccc;margin-bottom: 95px;}
.dynamic .dy-content li .dv-right p.dv-p2{margin-bottom: 12px;}
.dynamic .dy-content li .dv-right p.dv-p2 > a{font-size: 14px;color: #ccc;}
.dynamic .dy-content li .dv-right p.dv-p2 i{display: inline-block;width: 14px;height: 14px;background: url(../images/dynamic/icon1.png) no-repeat center;vertical-align: middle;padding-left: 8px;padding-right: 8px;}
.dynamic .dy-content li .dv-right p.dv-p3{font-size: 14px;}
.dynamic .dy-content li .dv-right p.dv-p3 > a{display: inline-block;width: 100px;height: 30px;line-height: 30px;text-align: center;line-height: 30px;color: #fff;}
.dynamic .dy-content li .dv-right p.dv-p3 > a:hover{box-shadow: 0 0 15px #333;-webkit-box-shadow: 0 0 15px #333;-moz-box-shadow: 0 0 15px #333;}
/*页码*/
.page{text-align: center;height: 20px;line-height: 20px;margin-bottom: 280px;}
.page a{display: inline-block;width: 26px;height: 26px;font-size: 14px;color: #fff;text-align: center;line-height: 26px;}
.page span{font-size: 14px;color: #fff;}
.pa-right{margin-right: 10px;}
.page a:hover{background-color: #000;box-shadow: 0 0 5px #ccc;-moz-box-shadow:0 0 0 #ccc;-webkit-box-shadow:0 0 0 #ccc;box-shadow:0 0 5px #ccc;}