/*公共*/
body{background-color: #000;}
/*头部图片*/
.co-header{width: 100%;height: 1080px;background: url(../images/epic/banner1.jpg) no-repeat center;}
/*人工智能*/
.smart{width: 1200px;height: 2540px;padding-top: 60px;margin-left: auto;margin-right: auto;overflow: hidden;}
.smart .details{padding-left: 220px;margin-bottom: 140px;outline: 1px solid #fff;}
