/*首页头部*/
.header{width: 100%;height: 1078px;}
body{background-color: #000;}
h1, h2, h3{margin-top: 0;margin-bottom: 0;}
/*首页内容*/
.content{width: 1200px;height: 2540px;margin-left: auto;margin-right: auto;overflow: hidden;}
.content h1{padding-top: 130px;font-size: 92px;color: #fff;text-align: center;font-family: "SourceHanSansCN Bold";margin-bottom: 25px;letter-spacing: 12px;}
.content h2{font-size: 55px;color: #fff;text-align: center;font-weight: normal;letter-spacing: 2px;margin-bottom: 90px;}
.content .master{width: 560px;height: 615px;margin-left: auto;margin-right: auto;margin-bottom: 40px;}
.content .master img{display: block;}
.content .master p{font-family: "Microsoft YaHei Light";font-size: 18px;color: #fff;line-height: 55px;letter-spacing: 2px;}
.content .about{padding-left: 140px;padding-right: 140px;height: auto;margin-bottom: 170px;}
.content .about .ab-content{font-size: 50px;color: #fff;text-align: right;letter-spacing: 4px;margin-bottom: 30px;}
.content .about span{display: block;float: right;width: 150px;height: 8px;background-color: #330066;margin-bottom: 40px;}
.content .about .ab-p{padding:60px;}
.content .about .ab-p p{font-size: 18px;color: #ccc;letter-spacing: 2px;line-height: 50px;}
.co-bottom1{margin-bottom: 30px;}
.content .co-p{font-size: 38px;color: #ccc;font-weight: bold;text-align: center;}
/*底部样式覆盖*/
.footer .fo-content .form .form-right textarea{display: inline-block;width: 500px;height: 136px;border:none;padding-left: 23px;font-size: 16px;color: #666;background-color: #0c0611;font-family:"Microsoft YaHei", "微软雅黑";padding-top: 6px;margin-bottom: 20px;overflow: auto;}
/*背景音乐*/
#sound{display: none !important;}
.music{width: 32px;height: 32px;outline: 1px solid;overflow: hidden;background-color: #000;position: absolute;z-index: 999;bottom: 182px;right: 220px;}
.music audio{display: inline-block;}
