/*公共*/
body{background-color: #000;}
/*头部图片*/
.co-header{width: 100%;height: 900px;background: url(../images/marketing/banner1.jpg) no-repeat center;}
/*案例*/
.marketing{width: 1200px;height: 2540px;padding-top: 60px;margin-left: auto;margin-right: auto;overflow: hidden;}
/*详情*/
.marketing .details{padding-left: 220px;margin-bottom: 140px;}
.marketing .details > h1{font-size: 70px;color: #fff;letter-spacing: 4px;margin-bottom: 5px;}
.marketing .details > h3{font-size: 54px;color: #fff;letter-spacing: 4px;margin-bottom: 55px;}
.marketing .details > p{font-size: 24px;color: #fff;letter-spacing: 2px;margin-bottom: 14px;}
.marketing .details ul{height: auto;}
.marketing .details ul li{margin-bottom: 120px;overflow: hidden;}
.marketing .details ul li .ma-left{float: left;width: 380px;height: 450px;}
.marketing .details ul li .ma-right{float: left;width: 570px;height: 450px;padding-left: 15px;padding-right: 15px;}
.marketing .details ul li .ma-right .right-p1{font-size: 35px;line-height: 60px;font-weight: bold;color: #fff;margin-bottom: 20px;letter-spacing: 4px;}
.marketing .details ul li .ma-right .right-p2{font-size: 23px;color: #fff;font-weight: bold;letter-spacing: 2px;}
.marketing .details .de-bottom{margin-left: 380px;height: 510px;}
.marketing .details .de-bottom > p{font-size: 35px;color: #fff;font-weight: bold;letter-spacing: 2px;line-height: 60px;}
.ma-bottom1{margin-bottom: 125px;}
.marketing .details > p.ma-bottom2{font-size: 24px;color: #fff;letter-spacing: 2px;margin-bottom: 50px;}
.marketing .details .de-bottom > img{display: block;}
/*页码*/
.page{text-align: center;height: 20px;line-height: 20px;}
.page a{display: inline-block;width: 26px;height: 26px;font-size: 14px;color: #fff;text-align: center;line-height: 26px;}
.page span{font-size: 14px;color: #fff;}
.pa-right{margin-right: 10px;}
.page a:hover{background-color: #000;box-shadow: 0 0 5px #ccc;-moz-box-shadow:0 0 0 #ccc;-webkit-box-shadow:0 0 0 #ccc;box-shadow:0 0 5px #ccc;}