/*公共*/
body{background-color: #000;}
/*头部图片*/
.co-header{width: 100%;height: 900px;background: url(../images/dynamic/banner1.jpg) no-repeat center;}
/*团队*/
.team{width: 980px;height: auto;padding-top: 60px;margin-left: auto;margin-right: auto;overflow: hidden;padding-left: 220px;}
/*详情*/
.team > h1{font-size: 74px;color: #fff;letter-spacing: 5px;}
.team > h2{font-size: 36px;color: #403657;letter-spacing: 3px;margin-bottom: 40px;margin-top: -10px;}
.team > h3{font-size: 56px;color: #fff;margin-bottom: 15px;}
.team > p{font-size: 18px;color: #fff;line-height: 30px;}
.te-bottom1{margin-bottom: 150px;}
.te-bottom2{margin-bottom: 100px;}
.te-bottom3{margin-bottom: 50px;}
.te-bottom4{margin-bottom: 20px;}
.te-bottom5{margin-bottom: 60px;}
.team .te-div1{font-size: 56px;color: #fff;font-weight: bold;}
.team .te-div2{font-size: 48px;color: #fff;font-weight: bold;}
.team .te-div3{overflow: hidden;height: 400px;margin-bottom: 175px;}
.team .te-div3 .te-div3-left{float: left;width: 500px;height: 400px;}
.team .te-div3 .te-div3-right{float: left;width: 410px;height: 400px;color: #fff;padding:30px 26px 0 44px;}
.team .te-div3 .te-div3-right .te-p1{font-size: 35px;font-weight: bold;margin-bottom: 25px;}
.team .te-div3 .te-div3-right .te-p2{font-size: 18px;margin-bottom: 60px;line-height: 35px;}
.team .te-div3 .te-div3-right .te-p3{font-size: 24px;letter-spacing: 10px;}
.team .te-div4{font-size: 46px;color: #fff;letter-spacing: 2px;font-weight: bold;margin-bottom: 20px;}
.team .te-div5{font-size: 16px;width: 500px;height: 400px;padding:10px;margin-bottom: 55px;}
.team .te-div5 > p{color: #fff;line-height: 33px;}
.team ul{margin-bottom: 60px;}
.team ul li{overflow: hidden;}
.team ul li .li-left{float: left;width: 496px;height: 300px;}
.team ul li .li-right{float: left;width: 444px;height:300px;padding-left: 20px;padding-right: 20px;}
.team ul li .li-right > h3{font-size: 35px;color: #fff;margin-bottom: 30px;}
.team ul li .li-right > p{font-size: 16px;color: #fff;margin-bottom: 20px;}