/*公共*/
body{background-color: #000;}
/*头部图片*/
.co-header{width: 100%;height: 900px;background: url(../images/want/banner1.jpg) no-repeat center;}
/*案例*/
.want{width: 1200px;height: 2540px;padding-top: 60px;margin-left: auto;margin-right: auto;overflow: hidden;}
.want > h1, .want > h3{text-align: left;padding-left: 220px;}
.want h1{font-size: 72px;color: #fff;letter-spacing: 10px;}
.want h3{font-size: 46px;color: #403657;margin-bottom: 80px;letter-spacing: 10px;}
/*声明*/
.want .declaration{font-size: 16px;padding-left: 220px;height: auto;margin-bottom: 115px;}
.want .declaration h1{font-size: 46px;letter-spacing: 8px;text-align: left;margin-bottom: 22px;}
.want .declaration p{margin-bottom: 10px;font-size: 0.875em;color: #ccc;}
.want .declaration p span{font-size: 18px;}
/*职位*/
.want .post{overflow: hidden;height: auto;margin-bottom: 150px;margin-left: 220px;}
.want .post li{float: left;width: 160px;height: 310px;text-align: center;}
.want .post li img{display: block;margin-left: auto;margin-right: auto;margin-bottom: 12px;}
.want .post li span{font-size: 30px;color: #fff;}
.wa-right1{margin-right: 140px;}
/*理念模块一*/
.want .idea1{padding-left: 220px;height: 480px;margin-bottom: 80px;overflow: hidden;}
.want .idea1 .idea1-left, .want .idea2 .idea2-left{float: left;width: 225px;height: 100%;}
.want .idea1 .idea1-left h2, .want .idea2 .idea2-left h2{font-size: 46px;color: #fff;}
.want .idea1 .idea1-right{float: left;width: 626px;height: 468px;border-top:1px solid #999;border-bottom: 1px solid #999;filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity: 0.8;opacity: 0.8;background-color: #1f0527;font-size: 16px;padding:10px 18px 0;}
.want .idea1 .idea1-right p, .want .idea2 .idea2-right p{font-size:0.875em;color: #fff;line-height: 24px;}
.want .idea2{padding-left: 220px;height: auto;overflow: hidden;}
.want .idea2 .idea2-right{float: left;width: 626px;border-top:1px solid #999;border-bottom: 1px solid #999;filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity: 0.8;opacity: 0.8;background-color: #1f0527;font-size: 16px;padding:10px 18px 10px;}
.wa-bottom1{margin-bottom: 80px;}
.wa-bottom2{margin-bottom: 25px;}