
/* ============================ */
/* /* HEADER
/*
/*============================ */
.header{position:absolute;top:0;left:0;width:100%;z-index:1000}
.navigation{width:100%;text-align:center;font-size:0;}
.navigation li{display:inline-block;text-align:center;}
.navigation li a{line-height:100px;letter-spacing:2px;font-size:11px;color:#fff;display:block;width:100px;position:relative;}
.navigation li:hover a:after{content:'';height:4px;width:100%;background:#fff;display:block;position:absolute;bottom:0;left:0;opacity:0;}
.navigation li.on a:after,.navigation li:hover a:after{opacity:1;}
.sidenav{position:fixed;right:0;top:50%;margin:-200px 0 0 0;z-index:1000;transition:all 0.3s;}
.nowonsubpages .sidenav{right:-70px;}
.sidenav li a{font-size:15px;font-weight:800;color:#fff;display:block;width:70px;line-height:40px;text-align:center;opacity:0.3;}
.sidenav li.on a{color:#fff;opacity:1;}
.sidenav li.gototop.on a{opacity:1;}
.sidenav li.gototop a{opacity:0;}
.toggle{position:fixed;z-index:1002;left:85px;top:40px;width: 41px;height: 41px;border: 1px solid transparent;background: url(../../images/index/onav.png) no-repeat center;}

.toggle .bars{height:4px;width:4px;background:#fff;position:absolute;}
.toggle_body{margin:38px;width:24px;height:24px;position:relative;}
.circle_control_side{position:fixed;left:0;bottom:0;cursor:pointer;z-index:1000;transition:all 0.3s;}
.circle_control_side .inner{width:100px;height:100px;}
.gototop img{vertical-align:middle;}
.toggle{cursor:pointer;user-select:none;-webkit-user-select:none;-moz-user-select:none;-khtml-user-select:none;-webkit-user-drag:none;-khtml-user-drag:none;}
.toggle,.bars{transition:all 0.3s;}
.toggle .bars_1{top:0px;left:0px;}
.toggle .bars_2{top:0px;left:10px;}
.toggle .bars_3{top:0px;left:20px;}
.toggle .bars_4{top:10px;left:0px;}
.toggle .bars_5{top:10px;left:10px;}
.toggle .bars_6{top:10px;left:20px;}
.toggle .bars_7{top:20px;left:0px;}
.toggle .bars_8{top:20px;left:10px;}
.toggle .bars_9{top:20px;left:20px;}
.toggled .toggle .bars{background:#715699;transition:all 0.3s;}
.toggled .toggle .bars_1{transform:translate(5px,5px);}
.toggled .toggle .bars_2{transform:translate(0,5px);}
.toggled .toggle .bars_3{transform:translate(-5px,5px);}
.toggled .toggle .bars_4{transform:translate(5px,0px);}
.toggled .toggle .bars_5{transform:translate(0px,0px);}
.toggled .toggle .bars_6{transform:translate(-5px,0px);}
.toggled .toggle .bars_7{transform:translate(5px,-5px);}
.toggled .toggle .bars_8{transform:translate(0px,-5px);}
.toggled .toggle .bars_9{transform:translate(-5px,-5px);}
/* ============================ */
/* /* LOADING
/*
/*============================ */
.preload{overflow:hidden;}
.firstload{position:fixed;top:0;left:0;width:100%;height:100%;background:#000;z-index:1010;transition:all 0.6s;opacity:0;}
.preload .firstload{opacity:1;}
.firstload_body{height:100%;position:relative;}
.firstload_title{height:100%;display:table;width:100%;position:relative;z-index:3;}
.firstload_title h2{margin-bottom:30px;}
.firstload_title div{display:table-cell;vertical-align:middle;text-align:center;}
.preloadbar{display:block;width:0;height:5px;display:block;background:#fff;position:absolute;bottom:0;left:0;z-index:1}
.toggle,.circle_control_side,.navigation{transition:all .3s;}
.sidenav{transition-delay:0.1s;}
.navigation{transition-delay:0.2s;}
.toggle{transition-delay:0.3s;}
.circle_control_side{transition-delay:0.4s;}
.preload .toggle{transform:translate(-100px,-100px);}
.preload .circle_control_side{transform:translate(-100px,100px);}
.preload .navigation{transform:translate(0px,-100px);}
.preload .sidenav{transform:translate(100px,0px);}
.nowonsubpages .sidenav{transition-delay:0;}
.fader{-webkit-animation:FADE 10s ease-out 0s infinite;-o-animation:FADE 10s ease-out 0s infinite;animation:FADE 10s ease-out 0s infinite;}
@-webkit-keyframes FADE{
	0%{opacity:1}
	50%{opacity:0}
	100%{opacity:1}
}
@-o-keyframes FADE{
	0%{opacity:1}
	50%{opacity:0}
	100%{opacity:1}
}
@keyframes FADE{
	0%{opacity:1}
	50%{opacity:0}
	100%{opacity:1}
}
/* ============================ */
/* /* MENU PANEL
/*
/*============================ */
#panel,#panel *{-webkit-box-sizing:border-box;box-sizing:border-box;}
#panel{position:fixed;top:0;left:0;bottom:0;right:0;margin:auto;max-width:100%;max-height:100%;z-index:1002;visibility:hidden;opacity:0;-webkit-transform:scale(1.35);transform:scale(1.35);-webkit-transition:-webkit-transform .3s cubic-bezier(0.215,0.610,0.355,1.000) 0s,opacity .25s ease-in-out 0s,visibility .3s ease-in-out 0s;transition:transform .3s cubic-bezier(0.215,0.610,0.355,1.000) 0s,opacity .25s ease-in-out 0s,visibility .3s ease-in-out 0s;}
.toggled #panel{visibility:visible;opacity:1;-webkit-transform:scale(1);transform:scale(1);-webkit-transition:-webkit-transform .3s ease-in-out 0s,opacity .3s ease-in-out 0s,visibility .3s ease-in-out 0s;transition:transform .3s ease-in-out 0s,opacity .3s ease-in-out 0s,visibility .3s ease-in-out 0s;}
#panel > ul{position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;height:500px;width:500px;z-index:10002;}
#panel > ul > li{display:block;position:absolute;width:160px;border:1px solid rgba(220,220,220,0.1);border:1px solid #fff\9;-webkit-transition:-webkit-transform .3s ease-in-out 0s,background .3s ease-in-out 0s;transition:transform .3s ease-in-out 0s,background .3s ease-in-out 0s;}
#panel > ul > li:hover{border:1px solid rgba(220,220,220,0);background:rgba(70,37,95,0.5);}
#panel > ul > li:before{content:"";display:block;padding-top:100%;}
#panel > ul > li > a,#panel > ul > li > .multi_a{position:absolute;top:0;left:0;display:block;width:100%;height:100%;overflow:hidden;}
#panel .front{position:absolute;top:0;width:100%;height:100%;-webkit-transition:-webkit-transform .55s cubic-bezier(0.190,1.000,0.220,1.000) 0s,opacity .45s ease-in-out 0s;transition:transform .55s cubic-bezier(0.190,1.000,0.220,1.000) 0s,opacity .45s ease-in-out 0s;}
#panel > ul > li:hover .front{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);}
#panel .back{position:absolute;top:0;width:100%;height:100%;opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);-webkit-transition:-webkit-transform .55s cubic-bezier(0.190,1.000,0.220,1.000) 0s,opacity .45s ease-in-out 0s;transition:transform .55s cubic-bezier(0.190,1.000,0.220,1.000) 0s,opacity .45s ease-in-out 0s;}
#panel > ul > li .front .pan-img{display: block;margin:43px auto 0;}
#panel > ul > li:hover .back{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
#panel .back .wrap{position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;width:120px;height:55px;text-align:center;}
#panel .back .wrap h3{margin-bottom:14px;color:#FFF;font-size:16px;font-weight:normal;line-height:16px;letter-spacing:2px;text-transform:uppercase;}
#panel .back .wrap p.panelbtn{margin:0 auto;width:120px;height:34px;line-height:34px;color:#FFF;background:#715699;letter-spacing:1px;font-size: 15px;overflow: hidden;}
#panel .back .wrap p.panelbtn1{margin:0 auto;width:118px;height:32px;color:#FFF;letter-spacing:1px;font-size: 15px;overflow: hidden;border:1px solid #9e8ea9;cursor: pointer;}
#panel .back .wrap p.panelbtn1 img{display: inline-block;padding-top: 2px;}
#panel .back .wrap p.panelbtn2{margin:0 auto;width:120px;height:34px;text-align: center;}
#panel .back .wrap p.panelbtn2 img{display: inline-block;margin-top: 7px;}
.pa-right{margin-right: 2px;}
.pa-left{margin-left: 5px;}
#panel .back .wrap p.social{margin:0 auto;width:80px;height:25px;line-height:25px;color:#FFF;box-sizing:border-box;border:1px solid #fff;letter-spacing:1px;text-transform:uppercase;}
#panel .back .wrap .social a{display:inline-block;height:26px;line-height:26px;color:#fff;font-size:12px;}
#panel .back .wrap .social a img{vertical-align:middle;}
#panel ul li.panel-1{top:0;left:0;-webkit-transform:translate3d(-25%,-25%,0);transform:translate3d(-25%,-25%,0);}
#panel ul li.panel-2{top:0;left:50%;margin-left:-80px;-webkit-transform:translate3d(0,-25%,0);transform:translate3d(0,-25%,0);}
#panel ul li.panel-3{top:0;right:0;-webkit-transform:translate3d(25%,-25%,0);transform:translate3d(25%,-25%,0);}
#panel ul li.panel-4{top:50%;left:0;margin-top:-80px;-webkit-transform:translate3d(-25%,0,0);transform:translate3d(-25%,0,0);}
#panel ul li.panel-5{top:50%;left:50%;margin:-80px 0 0 -80px;}
#panel ul li.panel-6{top:50%;right:0;margin-top:-80px;-webkit-transform:translate3d(25%,0,0);transform:translate3d(25%,0,0);}
#panel ul li.panel-7{bottom:0;left:0;-webkit-transform:translate3d(-25%,25%,0);transform:translate3d(-25%,25%,0);}
#panel ul li.panel-8{bottom:0;left:50%;margin-left:-80px;-webkit-transform:translate3d(0,-25%,0);transform:translate3d(0,25%,0);}
#panel ul li.panel-9{bottom:0;right:0;-webkit-transform:translate3d(25%,25%,0);transform:translate3d(25%,25%,0);}
.toggled #panel > ul > li{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
/* PANEL SVG */
#panel > ul > li svg{position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;width:34px;height:34px;fill:none;-webkit-transition:all .3s ease-in-out 0s;transition:all .3s ease-in-out 0s;}
#panel > ul > li svg path{margin:0 auto;fill:#FFF;stroke:#FFF;stroke-width:2px;stroke-linecap:square;stroke-dashoffset:3000;stroke-dasharray:3000;-webkit-transition:stroke-dashoffset .3s ease-in-out 0s;transition:stroke-dashoffset .3s ease-in-out 0s;}
.toggled #panel > ul > li svg path{stroke-dashoffset:0;-webkit-transition:stroke-dashoffset 1.5s ease-in-out .3s;transition:stroke-dashoffset 1.5s ease-in-out .3s;}
/* PANEL MASK */
#mask{position:fixed;top:0;left:0;bottom:0;right:0;margin:auto;width:100%;height:100%;background:#111;z-index:1001;visibility:hidden;opacity:0;-webkit-transition:opacity .3s ease-in-out 0s,visibility .3s ease-in-out 0s;transition:opacity .3s ease-in-out 0s,visibility .3s ease-in-out 0s;}
.toggled #panel #mask{visibility:visible;opacity:0.85;filter:alpha(opacity=85);}
.toggled #panel #mask:hover{cursor:url(../img/icon-close.png) 10 10,pointer;}




