.search{position: absolute;z-index: 999;right: 220px;top: 20px;}
form.oform {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
.d6 form.oform {
  height: 35px;
}
.d6 input {
  height: 100%;
  width: 0;
  padding: 0 42px 0 15px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  transition: .4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;color: #fff;
}
.d6 input:focus {
  width: 300px;
  z-index: 1;
  border-bottom: 2px solid #fff;
}
.d6 button {
  background: url(../../images/index/osearch.png) no-repeat center;
  border: none;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.placeh::-webkit-input-placeholder{color:#fff;font-size: 14px;}
.placeh::-moz-placeholder{color:#fff;font-size: 14px;}
.placeh:-ms-placeholder{color:#fff;font-size: 14px;}